.login-form {
  background-color: #b0adad;
}

.Outline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-left: 80px;
}

.header {
  font-size: 200%;
  color: green;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 30;
}

.fontstyle {
  font-size: 100%;
  position: relative;
  font-weight: 20;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
  font-family: 'Merriweather';
}

.login-form-button {
  width: 100%;
  font-family: 'Merriweather';
  text-align: center;
}
